# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Node modules
node_modules/


# Apple files
.DS_Store
